extends ../layout


block content 
    brbrbr
    h1 Lista de Bicicletas Disponibles
    hr
    .row 
      .col-md-8(style='margin: 1%;')
        table.table.table-striped
          thead
            tr
              th(scope='col') #
              th(scope='col') color 
              th(scope='col') Modelo
              th(scope='col') ubicacion 
              th(scope='col') Opciones
              th(scope='col') 
          tbody 
            each bici in bicis
              tr
                th(scope='row')=bici.id 
                  td=bici.color
                  td=bici.modelo
                  td=bici.ubicacion 
                  td
                    a(href='bicicletas/'+bici.id+'/update') Editar
                  td
                    form.inline(method='post' action='bicicletas/'+bici.id+'/delete')
                      input(type="hidden" name='id' value=bici.id)
                      button.link-button(type='submit' name='submit_param' value='submit_value' class='btn') 
                          = 'Eliminar'
      .col-md-3(style='margin: 1%;')
        h2 Sistema de posicionamiento de Bicicletas
        hr
        img.d-block.w-100(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPaESU81bKzwoIqDhItZU0PmuD1VQoIdFg8A&usqp=CAU')
        hr
        p.text-md-center La posición por GPS incluye generalmente la latitud y longitud exactas de la bicicleta en un mapa. Esto permite rastrear y registrar la ubicación de la bicicleta en tiempo real, lo que puede ser útil para diversos propósitos, como seguimiento de rutas, análisis de rendimiento, prevención de robos o simplemente para conocer la ubicación actual de la bicicleta    