extends ../layout

block content
    h1 Actualizacion de datos
    hr
    .row
        .col-md-8(style='margin: 1%;')
                 form.card.col-md-12.text-xs-center(action='/bicicletas/' + bici.id + '/update' method='post' style='padding: 2%;')
                    .form-group
                        label(for='id') Id:
                        input.form-control(type='text'  name='id' value=bici.id required)

                    .form-group
                        label(for='color')  Color:
                        input.form-control(type='text' name='color' value=bici.color required)

                    .form-group
                        label(for='modelo') Modelo:
                        input.form-control(name='modelo' rows='4' value=bici.modelo required)
                    
                    .form-group
                        label(for='lat') Latitud :
                        input.form-control(name='lat' type='text' value=bici.ubicacion[0] required)

                    .form-group
                        label(for='lng') Longitud :
                        input.form-control(name='lng' type='text' value=bici.ubicacion[1] required)
                    hr
                    button.btn.btn-primary(type='submit' value='Enviar') Actualizar 

        .col-md-3(style='margin: 2%;')
            h2 Sistema de posicionamiento de Bicicletas
            hr
            img.d-block.w-100(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVcMeWBcA2XYDHMIWzM-g7gUW7BBh0nvfX6g&usqp=CAU')
            hr
            p.text-md-center  La informaci贸n de posici贸n por GPS se puede utilizar en aplicaciones m贸viles o sistemas integrados en la bicicleta para proporcionar datos de ubicaci贸n precisos y relevantes.
   




